* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Josefin Sans', sans-serif;
color: #6a9bd7;
}

h1 {
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

header{
  background-color: rgba(26, 25, 25, 0.924);
  height: 100px;
}

nav{
  width:80%;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
}

nav h1 {
  padding-right: 2rem;
}
nav a {
  padding: 1.5rem 2rem 1.5rem 3rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

main {
  background-color: #906b3d3a;
  width : 80%;
  margin: 30px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

main img {
  margin-bottom: 30px;
}

div {
  width: 400px;
  padding: 1rem;
}

div ul{
  display: flex;
  flex-wrap: wrap;
}


section li{
  padding: 1rem;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

table, td, th {
  border: 1px solid rgb(12, 50, 28);
}

table {
  margin: 1rem;
}

td, th {
  padding: 1rem;
}

thead th {
  font-weight: bold;
  background-color: rgba(23, 28, 25, 0.1);
}

tfoot {
  background-color: rgba(23, 28, 25, 0.1);
}

td, th{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(21, 100, 51);
}

footer{
  height: 150px;
  background-color: rgba(26, 25, 25, 0.924);
  color: white;
}
 footer div{
  width: 80%;
  margin: auto;
  display: flex;
 }
 
footer div section{
  padding: 1rem;
}
